{% extends 'base.html.twig' %}

{% block title %}Détail de film{% endblock %}
{% block body %}
    <link href="{{ asset("styles/table.css") }}" rel="stylesheet">
    <h1>{{ film.titre }}</h1>
    <p>Durée : {{ film.duree }}</p>
    <h1 id="tableTitle">Voici la liste des séances:</h1>
    <div class="d-flex mx-auto flex-column" style="width: 90% ; margin:auto">
        <table>
            <thead>
            <tr>
                <th class="date">Date</th>
                <th class="heure">Heure</th>
                <th class="salle">Salle</th>
                <th class="reduit">Prix réduit</th>
                <th class="normal">Prix normal</th>
            </tr>
            </thead>
            <tbody>
            {% for seance in film.seances %}
                <tr>
                    <td>{{ seance.dateProjection}}</td>
                    <td>{{ seance.heureProjection}}</td>
                    <td>{{ seance.salle.nom}}</td>
                    <td>{{ seance.tarifReduit}} €</td>
                    <td>{{ seance.tarifNormal}} €</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
