{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!{% endblock %}

{% block body %}
    <h1>Liste des films à l'affiche</h1>
    <div class="row row-cols-4 justify-content-center gap-3" style="width: 90% ; margin:auto">
        {% for film in films %}
            <div class="card" style="width: 20rem">
                <img src="{{ asset("images/speeder.jpg") }}" class="card-img-top" alt="...">
                <div class="card-body w-100">
                    <h5 class="card-title">{{ film.titre }}</h5>
                    <p class="card-text">Durée : {{ film.duree }}</p>
                </div>
                <div class="d-flex mx-auto my-2">
                    <a href="{{ link }}{{ film.id }}" class="btn btn-primary">Voir les détails</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

